doctype html
html
    head 
        meta(charset = "utf-8")
        meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
        title Суши-монстр | Меню
        link(rel = "stylesheet" href = "main.css")
    body.page
        include ./blocks/header/header-menu.pug
        include ./blocks/menu-main/menu-main.pug
        script(src = "script.js")