main.index-main
    section.index-main-title
        h1.index-main-title__header Японская кухня за 60 минут
        p.index-main-title__description Доставка вкусный роллов и суши в течение часа, или мы вернём вам деньги
        a.index-main__link(href = "#") Выбрать вкусности
    picture.index-main__image
        source(srcset = "images/sushi-image-xs.png" media = "(max-width: 450px)")
        source(srcset = "images/sushi-image-s.png" media = "(max-width: 690px)")
        source(srcset = "images/sushi-image-lg.png" media = "(max-width: 999.9px)")
        img(src = "images/sushi-image.png")   